.navbar{
    box-shadow: 2px 1px 10px #888888;
    font-weight: bold;
    background-color:white;
}
.navbar-brand{
    color:#0099cc;
    position: relative;
    left: 7%;
}
.nav-link:focus{
    background-color:rgb(50,50,50,0.05)
}