.main-login{
    
}
.row{
	background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    
}
img{
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.Form{
    position:relative;
    top:50px;
    margin: auto;
    
}
#login-top{
    position: relative;
    margin: 2% 2% 2% 2%;
    font-weight: bold;
    left: 60%;
    color: gray;
}
#login-top:hover{
    text-decoration: none;
    color:#0099cc;
}
#login-top:focus{
    color: #0099cc;
}
#signup-top{
    position: relative;
    margin: 2% 2% 2% 2%;
    font-weight: bold;
    left: 60%;
    color: gray;
}
#signup-top:hover{
    text-decoration: none;
    color:#0099cc;
}
#signup-top:focus{
    color: #0099cc;
}
#top-text{
    color:#175785;
    font-weight: bold;
    margin: 3% 5% 3% 5%;
    position: relative;
    text-align: center;

}
.login-sub-box{
    width: 65%;
    padding: 0%;
    margin: auto;
}
#signin-heading{
    position: relative;
    left:0;
    padding: 0;
    font-weight: normal;
    color: gray;
    

}
#heading-text{
    position: relative;
    left: 0;
    color: grey;
}
input.form-control{
    padding: 0px;
    margin: 0px 0px 0px 0px;
    left: 0%;
    position: relative;

}
.form-row{
    margin: 0%;
    padding: 0%;
}
#email{
    position: relative;
    
    width: 100%; /*******/
    margin: 0%;
    padding: 0;
    left: 0;
    margin-top: 2%;
    margin-bottom: 2%;
}
#enter-password{
    position: relative;
    width: 100%;/******/
    margin: 0%;
    padding: 0;
    left: 0;
    margin-top: 2%;
    margin-bottom: 2%;
}
#confirm-password{
    position: relative;
    width: 100%;/******/
    margin: 0%;
    padding: 0;
    left: 0;
    margin-top: 2%;
    margin-bottom: 2%;
}
input{
    border-width: 0;
    border-bottom-width: 1.5px ;
    border-color: skyblue;
}


.signinbtn{
    background-color:#175785;
    border-radius: 3px;
    border-width: 0;
    color: white;
    margin: auto;
    width: 100%;
    margin-top: 7%;
    margin-bottom: 7%;

}
.btnsign{
    position: relative;
    width: 100%;
}


img{
    height: 430px;
}

