<section class="Form">
    <!--------------------------------------------->
        <div class="col-lg-8" style="margin: auto;">
            <div class="row no-gutters">
                <div class="col-lg-6 main-login">
                    <form>
                        <div class="form-row">
                            <a routerLink="/login" id="login-top">Log in</a>
                            <a routerLink="/signup" id="signup-top">Sign up</a>
                        </div>
                        <div class="form-row" id="top-text">
                            Chess Circle,Create your own competition or join any of the competition ,be a part of us
                        </div>
                        <div class="form-row">
                            <div class="login-sub-box">
                                <div class="form-row" id="signin-heading">
                                    <h5> REGISTER</h5>
                                </div>
                                <div class="form-row" id="heading-text">
                                    Create your account
                                </div>
                                <div class="form-row">
                                    <div id="email">
                                        <input type="text" class="form-control" placeholder="Enter Full Name">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div id="email">
                                        <input type="email" class="form-control" placeholder="Enter Email id/Mobile Number">
                                    </div>
                                </div>
                       
                                <div class="form-row">
                                    <div id="enter-password">
                                        <input type="password" class="form-control" placeholder="Enter Password">
    
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div id="confirm-password">
                                        <input type="password" class="form-control" placeholder="Confirm Password">
    
                                    </div>
                                </div>
                        
                    
                                <div class="form-row btnsign">
                                    <button type="button" class="signinbtn">Sign Up</button>
                                </div>
                        
                            </div>
                        </div>

                    </form>
                </div>
                <div class="col-lg-6 chess_img" >
                     <img src="../../assets/home_pic.jpg" class="img-fluid" alt="chessboard_img">                   
                </div>
            </div>
        </div>
    
    </section>
    